@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins:ital,wght@0,200;0,400;1,200&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mi-header{
  background-color: #E63B2E;
}

.tituloPagina{
    font-family: "Bungee Shade", cursive;
    font-weight: bolder;
    font-size: 3.438rem;
    color: #000000;
    padding: 0.938rem;
    text-align: center;
    text-decoration: none;
    animation-name: titulo-pagina;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#mi-main{
    background-color: #000000;
    background-image: linear-gradient(#000000, #ffa500, #00ffff, #000000);
    padding: 1.25rem;
}

.mi-fila{
    margin: 0 -5px;
    padding: 15px;
}

.mi-fila::after{
    content: "";
    display: table;
    clear: both;
}

.columna{
    float: left;
    width: 33%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.mi-img{
    padding: 1.25rem;
    max-height: 250px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: black;
    height: 345px;
    width: 350px;
}

.nombreProducto{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
}

.precioProducto{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
}

.card button {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    border: none;
    outline: 0;
    padding: 6px;
    color: black;
    font-weight: bolder;
    background-color: #E63B2E;
    cursor: pointer;
    width: 100%;
}
  
.card button:hover {
    opacity: 0.7;
    background-color: #00ffff;
}

/* modal */

.modalCont{
    display: none;
}

.body{
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    margin-left: 15px;
}

.botonAbrirModal{
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(7, 245, 205);
    color: white;
    font-size: 15px;
    padding: 8px;
    font-family: "poppins", sans-serif;
    font-weight: bolder;
}

.modalCont{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    background-color: #ffa500;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(7, 245, 205);
    text-align: center;
}
.botonCerrarModal{
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(7, 245, 205);
    color: white;
    font-size: 15px;
    padding: 8px;
    font-family: "poppins", sans-serif;
    font-weight: bolder;
}

/* footer */

#mi-footer{
    background-color: #00ffff;
}

.listaFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0.625rem;
}

.mi-footerImg{
    width: 3.1rem;
    height: 3.1rem;
}

@keyframes titulo-pagina {
    0% {
      color: black; }
    40% {
      color: #ffa500; }
    80% {
      color: #00ffff; }
    100% {
      color: black; } 
}

@media (min-width: 760px){
    .tituloPagina{
        font-family: "Bungee Shade", cursive;
        font-weight: bolder;
        font-size: 5rem;
        color: #000000;
        padding: 0.938rem;
        text-align: center;
        text-decoration: none;
    }
}

